<div class="H100W100 mainLeftRightPadding" style="overflow: auto;padding-bottom: 0;">
    <div class="row">
        <att-radio-button ng-model="vm.userChoice" label="common.acl.DisableInheritance.Convert.Label" value="true"></att-radio-button>
        <att-info-tip info-text="common.acl.DisableInheritance.Convert.Tooltip"></att-info-tip>
    </div>
    <div class="row" style="padding-top:20px">
        <att-radio-button ng-model="vm.userChoice" label="common.acl.DisableInheritance.Remove.Label" value="false"></att-radio-button>
        <att-info-tip info-text="common.acl.DisableInheritance.Remove.Tooltip"></att-info-tip>
    </div>
</div>